# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [2]:
import pandas as pd

In [4]:
# Dictionary -> Series
dict = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(dict)
s

a    1
b    2
c    3
dtype: int64

In [5]:
# List -> Series
list = ['2021-12-31', 3.14, 'abc', 100, True]
s = pd.Series(list)
s

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

In [9]:
# index와 value를 따로 저장
index = s.index
value = s.values
print(index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
# Tuple -> Series
tuple = ('유비', '2002-12-31', '서울', '대학교', '전문자')
s = pd.Series(tuple)
s

0            유비
1    2002-12-31
2            서울
3           대학교
4           전문자
dtype: object

In [11]:
# index 이름 변경하기
s.index = ['이름', '생년월일', '주소', '학교', '직업']
s

이름              유비
생년월일    2002-12-31
주소              서울
학교             대학교
직업             전문자
dtype: object

In [13]:
# Series에서 Data 출력하기
print(s['이름'])
print(s[0])

유비
유비

In [17]:
# 두 개의 인덱스 선택하기
print(s[['이름', '주소']])
print(s[0:2])
print(s[[0, 3]])

이름    유비
주소    서울
dtype: object
이름              유비
생년월일    2002-12-31
dtype: object
이름     유비
학교    대학교
dtype: object

In [19]:
# 범위로 index 선택(slicing)
print(s[1:3])
print(s['이름':'학교'])

생년월일    2002-12-31
주소              서울
dtype: object
이름              유비
생년월일    2002-12-31
주소              서울
학교             대학교
dtype: object

In [22]:
# Series의 연산
scores = pd.Series({'국어': 90, '영어': 80, '수학': 70})
scores2 = pd.Series({'국어': 70, '영어': 80, '수학': 95})
print(scores)

국어    90
영어    80
수학    70
dtype: int64

In [25]:
addition = scores + scores2
print(addition)

국어    160
영어    160
수학    165
dtype: int64

In [28]:
# make dataframe with results of addition, subtraction, multiplication, division
addition = scores + scores2
subtraction = scores - scores2
multiplication = scores * scores2
division = scores / scores2

# make dataframe
df = pd.DataFrame({'덧셈': addition, '뺄셈': subtraction, '곱셈': multiplication, '나눗셈': division})
print(df.T)

              국어      영어           수학
덧셈    160.000000   160.0   165.000000
뺄셈     20.000000     0.0   -25.000000
곱셈   6300.000000  6400.0  6650.000000
나눗셈     1.285714     1.0     0.736842

# NaN값이 있는 연산

In [30]:
import numpy as np
student1 = pd.Series({'국어': np.nan, '영어': 80, '수학': 70})
student2 = pd.Series({'국어': 90,'수학': 70})

In [34]:
# 덧셈
addition = student1 + student2
# 곱셈
multiplication = student1 * student2
# 뺄셈
subtraction = student1 - student2
# 나눗셈
division = student1 / student2

In [36]:
result = pd.DataFrame([addition, multiplication, subtraction, division], index=['덧셈', '곱셈', '뺄셈', '나눗셈'])
print(result)

     국어      수학  영어
덧셈  NaN   140.0 NaN
곱셈  NaN  4900.0 NaN
뺄셈  NaN     0.0 NaN
나눗셈 NaN     1.0 NaN

In [40]:
addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div( student2, fill_value=0)

In [38]:
result = pd.DataFrame([addition, multiplication, subtraction, division], index=['덧셈', '곱셈', '뺄셈', '나눗셈'])
print(result)

       국어      수학    영어
덧셈   90.0   140.0  80.0
곱셈    0.0  4900.0   0.0
뺄셈  -90.0     0.0  80.0
나눗셈   0.0     1.0   inf