# 데이터 베이스
- 규모가 크기 않은 데이터라면 csv와 json형식으로 사용해도 문제는 없음. 
- 데이터 규모가 굉장히 크거나 복잡하면 데이터베이스를 사용하는 것이 편리.

# 장점 
- 데이터와 관련된 모든 처리를 하나의 소프트웨어로 할 수 있음. 
- 여러 데이터의 속성을 연관시키며 저장 가능. 
- 중복된 데이터를 허용하지 않는 제약을 둘 수 있음. 
- 데이터의 정합성을 확보, 
- 데이터에 동시 접근했을 경우 문제 처리.. 
- 대량의 데이터를 조금씩 읽어 사용 할 수 있으며 정렬 등도 쉽게 가능

# 나만 볼 수 있고 서비스 안 되는 데이터베이스

In [108]:
import sqlite3

# sqlite3를 사용하여 데이터베이스를 생성하고 연결하기
dbpath = 'data/test.sqlite'
conn = sqlite3.connect(dbpath)

# 테이블을 생성하고 데이터 넣기
c = conn.cursor()
c.executescript(
    """
    /* item 테이블이 이미 있으면 삭제 */
    DROP TABLE IF EXISTS items;

    CREATE TABLE items (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        price INTEGER
    );

    /* item 테이블에 데이터 추가 */
    INSERT INTO items (name, price) VALUES ('Apple', 1000);
    INSERT INTO items (name, price) VALUES ('Orange', 2000);

    """
)

# 데이터베이스에 반영하기
conn.commit()

# 데이터베이스 연결 닫기
conn.close()

In [109]:
# 데이터베이스에서 데이터 읽어오기
conn = sqlite3.connect(dbpath)
c = conn.cursor()
c.execute('SELECT * FROM items')

items = c.fetchall()

# 출력하기
for item in items:
    print(item)

# 데이터베이스 연결 닫기
conn.close()

(1, 'Apple', 1000)
(2, 'Orange', 2000)

In [110]:
# 데이터 추가하기
conn = sqlite3.connect(dbpath)
c = conn.cursor()
c.execute('INSERT INTO items (name, price) VALUES (?, ?)',
            ('Melon', 4000))
conn.commit()
conn.close()

In [111]:
# 여러 데이터를 추가하기
conn = sqlite3.connect(dbpath)
fruitsNameAndPrice = [
    ('Banana', 3000),
    ('Watermelon', 5000),
]

c = conn.cursor()
c.executemany('INSERT INTO items (name, price) VALUES (?, ?)', fruitsNameAndPrice)
conn.commit()
conn.close()

In [112]:
# 데이터 수정하기
conn = sqlite3.connect(dbpath)
c = conn.cursor()

c.execute('UPDATE items SET price = ? WHERE name = ?', (1800, 'Watermelon'))
conn.commit()
conn.close()

In [113]:
# 4000원 ~ 7000원 사이의 가격을 가진 물건을 찾아서 출력하기
conn = sqlite3.connect(dbpath)
c = conn.cursor()

c.execute('SELECT * FROM items WHERE price BETWEEN ? AND ?', (4000, 7000))
items = c.fetchall()

for item in items:
    print(item)

conn.close()

(3, 'Melon', 4000)

In [114]:
# 데이터 삭제하기
conn = sqlite3.connect(dbpath)
c = conn.cursor()

c.execute('DELETE FROM items WHERE price < ?', (1500,))
conn.commit()
conn.close()

In [115]:
# 데이터 확인하기
conn = sqlite3.connect(dbpath)
c = conn.cursor()

c.execute('SELECT * FROM items')
items = c.fetchall()

print(items)

conn.close()

[(2, 'Orange', 2000), (3, 'Melon', 4000), (4, 'Banana', 3000), (5, 'Watermelon', 1800)]

# MySQL 연결

In [122]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in /Users/tj/opt/anaconda3/lib/python3.9/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /Users/tj/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: pymysql in /Users/tj/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [117]:
import pymysql

In [118]:
# pymysql을 사용하여 데이터베이스 연결하기
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='qwer1234',
    db='education',
    charset='utf8',)

In [119]:
# 커서 생성
c = conn.cursor()

# 데이터 추가하기
students = [
    ('s001', '홍길동', '경제학부', '010125678'),
    ('s002', '고길동', '경영학과', '010124579'),
    ('s003', '박길동', '컴퓨터공학과', '010124680'),
    ('s004', '유길동', '응용전자공학과', '010134681')
]

# pymysql로 커서에 데이터 추가하기
c.executemany('insert into student (scode, sname, sdept, sphone) VALUES (%s, %s, %s, %s)', students)

# 데이터베이스에 반영하기
conn.commit()

# 연결 닫기
conn.close()

In [125]:
# pandas, create_engine 임포트하기
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:qwer1234@127.0.0.1:3306/education')
conn = engine.connect()

# pandas로 데이터 읽어오기
df = pd.read_sql('select * from student', conn)
df_table = pd.read_sql_table('student', conn)

print(df)
print(df_table)

# conn close
conn.close()

  scode sname    sdept     sphone
0  b001    관우     심리학과    010-222
1  s001   홍길동     경제학부  010125678
2  s002   고길동     경영학과  010124579
3  s003   박길동   컴퓨터공학과  010124680
4  s004   유길동  응용전자공학과  010134681
  scode sname    sdept     sphone
0  b001    관우     심리학과    010-222
1  s001   홍길동     경제학부  010125678
2  s002   고길동     경영학과  010124579
3  s003   박길동   컴퓨터공학과  010124680
4  s004   유길동  응용전자공학과  010134681

# dataframe을 database로 insert하기

In [133]:
col = ['rank', 'title', 'link']
movies = pd.read_csv('data/movie_daum.csv', encoding='utf-8')
movies.columns = col
movies.head()

# create engine
engine = create_engine('mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum')
conn = engine.connect()

# dataframe을 table로 저장하기
movies.to_sql('movie', conn, if_exists='replace', index=False)

# 확인하기
movs = pd.read_sql('select * from movie', conn)
print(movs)

# conn close
conn.close()

KeyboardInterrupt:

In [134]:
df = pd.read_csv('data/ridibooks_general_bestseller.csv', encoding='utf-8')
df.head()

   rank         title                                            summary
0     1           역행자  <역행자> 오타쿠 흙수저에서 월 1억 자동수익을 실현한 무자본 연쇄창업마,\r\n라...
1     2          작별인사  <작별인사> 누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다\r\n지켜야 할 약...
2     3  인플레이션에서 살아남기  <인플레이션에서 살아남기> \n\n40년 만에 찾아온 인플레의 역습, \r\n당신의...
3     4    변화하는 세계 질서  <변화하는 세계 질서> \n\n《원칙 Principles: Life & Work》으...
4     5          피스타운  <피스타운> -“여긴 너무 비현실적이야, 그렇지 않아?”\r\n-뭐든지 이룰 수 있...

In [135]:
# pandas, create_engine 임포트하기
import pandas as pd
from sqlalchemy import create_engine

# create engine and connect
engine = create_engine('mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum')
conn = engine.connect()

# csv를 df로 불러오기
df = pd.read_csv('data/ridibooks_general_bestseller.csv', encoding='utf-8')

# df를 table로 저장하기
df.to_sql('ridibooks', conn, if_exists='replace', index=False)

# 확인하기
movs = pd.read_sql('select * from ridibooks', conn)
print(movs)

# conn close
conn.close()

     rank            title                                            summary
0       1              역행자  <역행자> 오타쿠 흙수저에서 월 1억 자동수익을 실현한 무자본 연쇄창업마,\r\n라...
1       2             작별인사  <작별인사> 누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다\r\n지켜야 할 약...
2       3     인플레이션에서 살아남기  <인플레이션에서 살아남기> \n\n40년 만에 찾아온 인플레의 역습, \r\n당신의...
3       4       변화하는 세계 질서  <변화하는 세계 질서> \n\n《원칙 Principles: Life & Work》으...
4       5             피스타운  <피스타운> -“여긴 너무 비현실적이야, 그렇지 않아?”\r\n-뭐든지 이룰 수 있...
..    ...              ...                                                ...
195   196              데미안  <데미안> 데미안을 통해 참다운 어른이 되어 가는 소년 싱클레어의 이야기.\r\n한...
196   197           합리적 남자  <합리적 남자> \n\n작가는 인터넷 공간에서 롤로 토마시라는 필명으로 활동하며 전...
197   198  개정판 | 현명한 투자자 1  <개정판 | 현명한 투자자 1> \n\n가치투자의 아버지 벤저민 그레이엄의 《현명한...
198   199    나의 월급 독립 프로젝트  <나의 월급 독립 프로젝트> \n\n종잣돈 480만원으로 시작해 3년 만에 30억 ...
199   200     하이 아웃풋 매니지먼트  <하이 아웃풋 매니지먼트> \n\n★★★★★ 미국 아마존 초장기 베스트셀러, 201...

[200 rows x 3 columns]

In [136]:
# 데이터 수정하기
# pymysql을 사용하여 데이터베이스 연결하기
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='qwer1234',
    db='education',
    charset='utf8',)

# 커서 생성
c = conn.cursor()

# 데이터 수정
c.execute('UPDATE student SET sphone = %s WHERE sname = %s', ('017-250', '홍길동'))

# 데이터베이스에 반영하기
conn.commit()

# 연결 닫기
conn.close()