In [4]:
print(list(range(0,11,2)))
print(list(range(11,0,-2)))

[0, 2, 4, 6, 8, 10]
[11, 9, 7, 5, 3, 1]

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
import math
for i in range(1,11):
    print('%2d : %0.8f'%(i, math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [20]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [2]:
# for문에 tuple 사용하기
var = [(1,2),(3,4),(5,6),(7,8),]

for first, last in var:
    print(first,':', last)


# for문에 tuple 사용하기
var = [(1,2,3),(3,4,5),(5,6,7),(7,8,9),]

for first, mid, last in var:
    print(first,':', last,":", mid)

1 : 2
3 : 4
5 : 6
7 : 8
1 : 3 : 2
3 : 5 : 4
5 : 7 : 6
7 : 9 : 8

- 총 5명의 학생이 시험을 보았다
- 시험점수가 60점을 넘으면 합격
- 그렇지 않으면 불합격
- 합격 불합격 보여주기

In [1]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    res = '합격' if scores[number] > 60 else '불합격'
    print(f'{number+1}번째 학생은 {res}입니다.')

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

In [11]:
scores = [90, 25, 67, 45, 80]

for score in scores:
    res = '합격' if score > 60 else '불합격'
    print(f'{scores.index(score)+1}번째 학생은 {res}입니다.')

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

In [16]:
scores = [90, 25, 67, 45, 80]
print(list(enumerate(scores)))

for i, score in  enumerate(scores):
    res = '합격' if score > 60 else '불합격'
    print(f'{i+1}번째 학생은 {score}점으로 {res}입니다.')

[(0, 90), (1, 25), (2, 67), (3, 45), (4, 80)]
1번째 학생은 90점으로 합격입니다.
2번째 학생은 25점으로 불합격입니다.
3번째 학생은 67점으로 합격입니다.
4번째 학생은 45점으로 불합격입니다.
5번째 학생은 80점으로 합격입니다.

- 학생들 점수의 평균을 구하여 평균보다 낮으면 불합격
- 평균과 같거나 높으면 합격

In [17]:
import numpy as np

In [26]:
scores = [90, 25, 67, 45, 80]
mean = np.mean(scores)

print(f'학급 평균 점수는 {"%0.2f"%mean}입니다.')

for i, score in  enumerate(scores):
    res = '이므로 합격' if score > mean else '이어서 불합격'
    print(f'{i+1}번째 학생은 {score}점{res}입니다.')

학급 평균 점수는 61.40입니다.
1번째 학생은 90점이므로 합격입니다.
2번째 학생은 25점이어서 불합격입니다.
3번째 학생은 67점이므로 합격입니다.
4번째 학생은 45점이어서 불합격입니다.
5번째 학생은 80점이므로 합격입니다.

In [27]:
scores = [90, 25, 67, 45, 80]

for i, score in enumerate(scores):
    if score > 60:
        print(f'{i+1}의 학생은 합격 입니다.')

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [35]:
scores = [90, 25, 67, 45, 80]
congratulations = []

for i, score in enumerate(scores):
    if (score > 60):
        congratulations.append(i+1)

print(' 합격자 번호')
print('----------')
for i in congratulations:
    print('{0:^10}'.format(i))

 합격자 번호
----------
    1
    3
    5

# 문장과 단어 추출

In [2]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [10]:
sents = [] # 문장 저장
words = [] # 단어 저장

# 문단 -> 문장
for sen in string.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

#save words as csv file
with open('test.csv', 'w') as f:
    for word in words:
        f.write(word + '\n')

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [13]:
var01 = [1,2,3,4,5,6,7,8,9,10]
var02 = []

#var02 = index of var01*5
var02 = [i*5 for i in var01]

print(var02)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [14]:
#if var01 is even, append var01*5 to var02
var02 = []
for i in var01:
    if i%2 == 0:
        var02.append(i*5)

print(var02)

[10, 20, 30, 40, 50]

In [16]:
#if var01 is even, append var01*5 to var02
var02 = []
var02 = [i*5 for i in var01 if i%2 == 0]
print(var02)

[10, 20, 30, 40, 50]

In [18]:
#scrape data from kospi
import requests
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_index_day.nhn?code=KOSPI'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')

#save data as csv file
with open('kospi.csv', 'w') as f:
    for tr in soup.select('tr'):
        for td in tr.select('td'):
            f.write(td.text + '\n')

In [20]:
#구구단 결과 리스트
result = []
result = [i*j for i in range(2,10) for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [34]:
scores = [90, 25, 67, 45, 80]

#make a list of scores that are greater than 60 and print average
result = [i for i in scores if i > 60]

# average 2 decimal places
res = f'{sum(result)/len(result):.2f}'
print(f'합격한 학생들의 평균 점수는 {res}입니다.')

합격한 학생들의 평균 점수는 79.00입니다.

In [36]:
#1부터 100까지 합계 구하기
result = [i for i in range(1,101)]

#get sum of result
res = sum(result)
print(res)

5050